.landingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color:var(--dark-color);
}

.textWelcome{
    text-align: center;
    font-size: clamp(1.3em ,2vw,3em);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#D9CEC1;
    font-weight: 700;
    border: 3px solid var(--light-color);
    padding: 0.2em 1.2em ;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.buttonGo{
    background-color: var(--medium-color);
    padding: 0.2em 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(1em,1.2vw,2em);
    font-weight: 700;
    color: var(--light-color);
    letter-spacing: 0.08rem;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.buttonGo:hover{
    transform: translateY(-0.2em);
    transition: all 0.5 ease-in-out;
}
    
