
.cards{
    width: 85%;
    padding-top: 5em;
    overflow: hidden;
    display: grid;
    grid-template-columns:  repeat( auto-fit, minmax(18vw,1fr));
    gap:2em;
    
}

@media ( width <= 800px){
    .cards{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        padding-top: 2em;
    }
}
    
    
    