.search{
    display:flex;
    justify-content: flex-end;
    width: clamp(5em, 11vw, 15em);
    margin: 0;
    padding: 0;
    overflow: 0;
}
   

.search input{
    width: 0%;
    padding:0;
    margin: 0;
    color:var(--dark-color);
    outline: none;
    appearance: none;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: sans-serif;
    letter-spacing: 0.05em;
    transition: all 0.6s ease;
}

.btn{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background:var(--my-yellow);
    width: 2.2em;
    height:clamp(2em,2vh,2.5em);
    cursor: pointer;
}
    
.btn button{
    background: none;
    border:none;
    color:var(--dark-color);
}
    
.btn button:hover{
    cursor: pointer;
}

.search:hover input{
    width: clamp(8em,10vw,16em);
    padding-left: 0.2em;
    transition: all 0.6s ease;
}

.search input:focus{
    width: clamp(8em,10vw,16em);
    padding-left: 0.2em;
    background: var(--light-color);
}

.search input:valid{
    background: var(--light-color);
}


    
    

