
.containerNav{
    width: 100%;
    margin: 0;
    padding: 0;
    height: clamp(2.5em, 10vh, 5em);
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color:var(--dark-color) ;
}

.sectionOptions{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logoNav{
    width:clamp(3em, 4vw, 4em);
    margin-right:clamp(0.2em, 3vw,3em);
}

.routesNav{
    font-family: sans-serif;
    font-size:clamp(0.8em, 1.3vw, 1.5em);
    font-weight: 100;
    color: var(--light-color);
    text-decoration: none;
    margin: clamp(0.2em, 0.7vw , 0.7em);
}





