.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--light-color);
}


:root {
  --light-color: #F2E1C2 ;
  --dark-color: #594B20;
  --medium-color: #A69232;
  --my-yellow:#fecc16
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"] {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration,
  &::-webkit-clear-button {
    -webkit-appearance: none;
    appearance: none;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}